.projects-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
}

.head-title-projects{
    text-align: center;
    font-size: 28px;
}

.head-title-container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-container > p{
    font-size: 21px;
    color: #fff;
    text-align: center;
}

.alert-container{
    width: 75%;
    background-color: #6E07F3;
    line-height: 2;
    padding: 2rem;
    border-radius: 30px;
    margin: 2rem auto;
}