@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html, body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: 'Comfortaa', cursive;
}